@font-face {
    font-family: 'Pokemon';
    src: url('../assets/pokemon.woff') format('woff'),
         url('../assets/pokemon.ttf')  format('truetype');
}

body {
	background: #424242 url("../assets/images/interface/background.png");
	font-family: 'Pokemon', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	height: 100%;
	margin: 0;
}

header, footer {
	display: none;
}

section {
	display: inline-block;
	padding: 10px 10px 20px;
	margin: 40px auto;
	background: #222;
	border-radius: 3px;
}

.notched {
	position: relative;

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: -8px; 
		height: 14px;
		border-radius: 0 0 20px 3px;
		width: 30%;
		background: #222;
	}

	&:after {
		left: auto;
		border-radius: 0 0 3px 20px;
		right: 0;
	}
}
