.game {
	width: 500px;
	height: 335px;
	/*background: #444 url(http://img.gamefaqs.net/screens/3/a/e/gfs_27078_2_1.jpg) no-repeat center;*/
	/*background: #444;*/
	background-size: contain;
	position: relative;
	color: #444;
	overflow: hidden;
}

.game * {
	box-sizing: border-box;
}

.messages {
	position: absolute;
	bottom: 0;
	height: 90px;
	background: #fff;
	border-top: 1px solid #fff;
	width: 100%;
	padding: 20px;
}

.messages:before,
.messages:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -4px; 
	height: 14px;
	border-radius: 3px 20px 0 0;
	width: 30%;
	background: #fff;
}

.messages:after {
	border-radius: 20px 3px 0 0;
	right: 0;
	left: auto;
}

.health-bar {
	position: absolute;
	top: 32px;
	right: 8px;
	height: 10px;
	border-radius: 6px;
	width: 82%;
	border: 2px solid #444;
	border-left-width: 25px;
	overflow: hidden;
}

.health-bar .inner-health {
	background: #78bb92;
	border: 1px solid #d4ffe5;
	border-radius: 0 6px 6px 0;
	height: 6px;
}

.experience-bar {
	position: absolute;
	bottom: -6px;
	right: 8px;
	height: 4px;
	width: 72%;
}

.experience-bar:before {
	content: "EXP";
	float: left;
	color: #f6ba52;
	font-size: 6px;
	position: relative;
	right: 20px;
}

.experience-bar .inner-experience {
	background: repeating-linear-gradient(
	  to right,
	  #f6ba52,
	  #f6ba52 4px,
	  transparent 4px,
	  transparent 6px
	);
	height: 4px;
	opacity: 0.5;
}

.pokeball-icon {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #a28589;
	border: 1px solid #444;
	position: absolute;
	left: 8px;
	top: 32px;
	overflow: hidden;
}

.pokeball-icon:before {
	content: "";
	background: #dfc6c1;
	display: block;
	width: 10px;
	height: 4px;
	border-bottom: 1px solid #444;
}