<div class="control-wrapper">
	<div class="alternative-controls">
		<div class="controls large-controls animated fadeIn">
			<a href="#" class="action" data-action="1">THUNDERSHOCK</a>
			<a href="#" class="action" data-action="2">GROWL</a>
			<a href="#" class="action" data-action="3">THUNDERWAVE</a>
			<a href="#" class="action" data-action="4">--</a>
		</div>
		<div class="back">
			<a href="#" class="return">&larr;</a>
		</div>
	</div>

	<div class="main-controls">
		<div class="controls animated fadeIn">
			<a href="#" class="fight">FIGHT</a>
			<a href="#" class="pokemon"><sup>P</sup><sub>K</sub><sup>M</sup><sub>N</sub></a>
			<a href="#">ITEM</a>
			<a href="#">RUN</a>
		</div>

		What will <%= pokemon.name() %> do?
	</div>
</div>